* {
box-sizing: border-box;
}
 
body {
font-family: Arial;
background-color: #3498DB;
padding: 50px;
}

button {
	position: absolute;
	border: 2px solid transparent;
	background: #ffffff;
	color: #3498DB;
	font-size: 16px;
	line-height: 25px;
	padding: 10px;
	text-decoration: none;
	text-shadow: none;
	border-radius: 3px;
	box-shadow: none;
	transition: 0.25s;
	display: block;
	margin: 0 auto;
}


h1 {
	text-align: center;
	color: white;
}